
@media (min-width: 360px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 550px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 50px auto;
    background-color: #ff0000;
    border-radius: 10px;
    box-shadow: 0 14px 45px rgba(0,0,0,0.22), 0 18px 45px rgba(0,0,0.0.22);
  }
}

@media (min-width: 576px){
  .App {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 550px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px auto;
    background-color: #ff0000;
    border-radius: 10px;
    box-shadow: 0 14px 45px rgba(0,0,0,0.22), 0 18px 45px rgba(0,0,0.0.22);
  }
}

.Active {
  font-weight: bolder;
  color: #00CB2B;
}

.btn {
  border-radius: 10px;
  border-color: crimson;
  background-color:black;
  font-size:x-large;
  font-family: monospace;
  padding: 5px;
  margin-bottom: 10px;
}

body {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
}
body:before {
  content: "";
  position: absolute;
  background: url("https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/masters/forest.jpg");
  background-size: cover;
  z-index: -1;
  height: 20%; width: 20%;
  transform: scale(5);
  transform-origin: top left;
  filter: blur(2px);
}